.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile {
  width: 200px;
  text-align: center;
}

.profile img {
  width: 100%;
  height: auto;
}

.profile textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
