.profile-container {

}
.col-md-6 {width:75%;}
.profile {
  width: 150px;
  margin:20px;
  text-align: center;
  display: inline-block;
}

.profile img {
  width: 150px;
  height: auto;
}

.profile textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
